body 
{
background-color: Black;
font-family: Arial, Helvetica, sans-serif;
}
h1{
  color:MediumOrchid;
  text-align: center;
}

a{
  text-decoration: none;
  color: Hot-Pink;
}

.assign{
  background-color: DarkTurquoise;
  margin: 10px;
  padding: 10px;
  display: flex;
}
.assign img {
  width: 200px;
  margin: 10px;
  border: 2px solid midnightblue;
}
